.Today {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 4px;
  .Card {
    width: 99%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    .CardTitle {
      font-size: 14px;
      color: darkorange;
    }
    .status {
      box-sizing: border-box;
      padding: 2px 5px;
      background-color: #1ab394;
      color: #fff;
      border-radius: 5px;
      font-size: 14px;
    }
    .end {
      box-sizing: border-box;
      padding: 2px 5px;
      background-color: red;
      color: #fff;
      border-radius: 5px;
      font-size: 14px;
    }
    .cardItem {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 10px;
      .title {
        box-sizing: border-box;
        width: 90px;
      }
      span {
        width: 240px;
        font-size: 14px;
        // 单行溢出显示省略号
        word-break: break-all;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
