.Login {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../static/login/login_bj_02.jpg") no-repeat center;
  background-position: cover;
  box-sizing: border-box;
  padding: 10px;
  .form_item {
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    .InputItem {
      width: 240px;
    }
  }
  .form_item_title {
    height: 60px;
    line-height: 60px;
    width: 300px;
    margin: 90px auto 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  .submit {
    width: 300px;
    margin: 10px auto;
  }
}