@font-face {
  font-family: "iconfont";
  /* Project id 2620627 */
  src: url("//at.alicdn.com/t/font_2620627_9358182959k.woff2?t=1627525258029")
      format("woff2"),
    url("//at.alicdn.com/t/font_2620627_9358182959k.woff?t=1627525258029")
      format("woff"),
    url("//at.alicdn.com/t/font_2620627_9358182959k.ttf?t=1627525258029")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-today:before {
  content: "\e60f";
}
.icon-upload:before {
  content: "\e65d";
}
.icon-tuike:before {
  content: "\e629";
}
.icon-dingdanxiangqingxianxing:before {
  content: "\e611";
}
.icon-bianzu:before {
  content: "\e610";
}
.icon-returnback:before {
  content: "\e6ca";
}
.icon-overdue:before {
  content: "\e61f";
}
.icon-order:before {
  content: "\e600";
}
.icon-cc-home:before {
  content: "\e658";
}
.icon-userName:before {
  content: "\e623";
}
.icon-password:before {
  content: "\e64c";
}
.icon-list:before {
  content: "\e647";
}
.icon-TableLamp:before {
  content: "\e63b";
}
.icon-wode:before {
  content: "\e763";
}
