@font-face {
  font-family:"iconfont";
  /* Project id 2620627 */
  src: url('//at.alicdn.com/t/font_2620627_c64pp2vxvgq.woff2?t=1624938105143') format('woff2'), url('//at.alicdn.com/t/font_2620627_c64pp2vxvgq.woff?t=1624938105143') format('woff'), url('//at.alicdn.com/t/font_2620627_c64pp2vxvgq.ttf?t=1624938105143') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-overdue:before {
  content:"\e61f";
}
.icon-order:before {
  content:"\e600";
}
.icon-cc-home:before {
  content:"\e658";
}
.icon-userName:before {
  content:"\e623";
}
.icon-password:before {
  content:"\e64c";
}
.icon-list:before {
  content:"\e647";
}
.icon-TableLamp:before {
  content:"\e63b";
}
.icon-wode:before {
  content:"\e763";
}