form {
  padding: 0;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
// 解决tarbar定位，以及添加以后botton点击无效
// 点击事件无效的原因TabBar的默认高度100%，TabBar把页面所有的按钮挡住了
#root .am-tab-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height:50px;
}
#root .am-card-body {
  padding: 0;
  overflow-x: auto;
}
.ModalItem {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  span {
    width: 110px;
    text-align: left;
  }
  .am-list-item {
    width: 210px !important;
  }
}
.Credit {
  .am-card {
    height: auto;
  }
  .am-card-body {
    height: auto;
  }
}